
img {
	
	
	left:40%;
	position:absolute;
	right:60%;
	top:30%;
	
}

h1 {
	
	left:40%;
	position:absolute;
	right:50%;
	top:50%;
	width:400px;
	
}


p{
	
	left:37%;
	position:absolute;
	right:63%;
	top:70%;
	width:500px;
	
}