@CHARSET "ISO-8859-1";

#imagen img{
	
	float:left;
	
}

.pruebamodulo-title{

	background: url("../images/barraHeaderBlue.jpg") repeat scroll 0 bottom #E4E3E2;
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: 700;
    
    /*height: 39px;
    line-height: 39px;
    overflow: hidden;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 0 0 0 10px;*/
    
    float:left;
    margin-left:10px;
    width:965px;
    height:42px;
    
	
}


#contenedor{
	
	position:relative;
	width:750px;
	height:273px;
	border: solid;
	border-color: #82bc00;
	border-width: thin;
	float:right;
	margin-bottom:20px;
	/*margin-top:-108px;
	margin-left:12px;*/
	
	
}

#contenedorImagen{
	
	float:left;
	width:575px;
	overflow: hidden;
	height:273px;
	position:relative;
	
}

#imagen{
	
	position:absolute;
	width:5000px;
	height:273px;
	top:0px;
	left:0px;	
		
}

#titulo1{
	
	position:absolute;
	top:20px;
	left:20px;
	font-size: 16px;
	color:#303943;
	font-weight: bold;
	
}

#titulo1_1{
	
	position:absolute;
	top:40px;
	left:20px;
	font-size: 16px;
	color:#303943;
	font-weight: bold;
	
}


#titulo2{
	
	position:absolute;
	top:60px;
	left:20px;
	font-size: 14px;
	color:#8b8d8f;
	font-weight: bold;
	
	
}

#titulo3{
	
	position:absolute;
	top:100px;
	left:20px;
	font-size:12px;
	color:#afafb0;
	
}

#titulo4{
	
	position:absolute;
	top:240px;
	left:20px;
	font-size:12px;
	color:#000000;
	
}

#titulo5{
	
	position:absolute;
	top:20px;
	left:800px;
	color:#505152;
	font-size: 13px;
	font-weight: bold;
	
	
}

#titulo6{
	
	position:absolute;
	top:50px;
	left:800px;
	color:#505152;
	font-size: 13px;
	font-weight: bold;
	
	
}

#titulo7{
	
	position:absolute;
	top:230px;
	left:540px;
	color:#023161;
	font-size: 14px;
	font-weight: bold;
	
}

#titulo8{
	
	position:absolute;
	top:10px;
	left:1070px;
	color:#262728;
	font-size: 12x;
	font-weight: bold;
	
}

#titulo9{
	
	position:absolute;
	top:80px;
	left:1070px;
	color:#575858;
	font-size: 14px;
	font-weight: bold;
	
	
}

#titulo10{
	
	position:absolute;
	top:210px;
	left:1070px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
	
}

#titulo11{
	
	position:absolute;
	top:10px;
	left:1600px;
	color:#262728;
	font-size: 14px;
	font-weight: bold;
	
}

#titulo12{
	
	position:absolute;
	top:80px;
	left:1600px;
	color:#000000;
	font-size: 14px;
	font-weight: bold;
	
}


#titulo13{
	
	position:absolute;
	top:220px;
	left:1600px;
	color:#39393a;
	font-size: 14px;
	font-weight: bold;
	
}


#titulo14{
	
	position:absolute;
	top:10px;
	left:2130px;
	color:#262728;
	font-size: 12px;
	font-weight: bold;
	
}

#titulo15{
	
	position:absolute;
	top:80px;
	left:2130px;
	color:#030303;
	font-size: 14px;
	font-weight: bold;
	
}

#titulo16{
	
	position:absolute;
	top:230px;
	left:2130px;
	color:#000000;
	font-size: 14px;
	font-weight: bold;
	
}


#titulo17{
	
	position:absolute;
	top:10px;
	left:2660px;
	color:#073d75;
	font-size: 14px;
	font-weight: bold;
	
}

#titulo18{
	
	position:absolute;
	top:220px;
	left:2660px;
	color:#f4f6f9;
	font-size: 14px;
	font-weight: bold;
	
}


#vendedores,#nivelNacional{
	
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
	
}

#utensilios{
	
	color:#000000;
	font-size: 12px;
	font-weight: bold;
}

#dosaLogo{

	position:absolute;
	top:220px;
	left:20px;
	
}


#garantia{
	
	position:absolute;
	top:120px;
	left:400px;
	
}

.botonSlider{

	background-image: url('../img/boton1.png');
	width:130px;
	height:39px;
	border:0px;
	cursor:pointer;
	
}

#boton_1{
	
	position:absolute;
	top:170px;
	left:35px;
	
	
}

#boton_2{
	
	position:absolute;
	top:80px;
	left:800px;	
	
}

#boton_3{
	
	position:absolute;
	top:130px;
	left:1070px;
}

#boton_4{
	
	position:absolute;
	top:140px;
	left:1600px;

}

#boton_5{
	
	position:absolute;
	top:140px;
	left:2130px;

}

#boton_6{
	
	position:absolute;
	top:140px;
	left:2660px;

}


.botonSlider:hover{
	
	background-position: 0px -39px;
	
}



#lista{
	
	float:left;
	/*background-color: #023748;*/
	width:175px;
	height:273px;	
	list-style-type: none;
	margin:0px;
	padding:0px;
	
	
}

#lista li{
	
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #ffffff;
	font-size: 12px;
	color:#ffffff;	
	padding-left: 5px;
	/*padding-top: 25px;*/
	line-height: 44.5px;
	background-color: #82bc00;
	cursor:pointer;
		
}

#lista li a{
	
	color:#ffffff;
	text-decoration:none;
}

#lista li a:hover{
	
	color:#ffffff;
	text-decoration:underline;

}

#flecha{
	
	position:absolute;
	top:0px;
	left:562px;
	
}




