@CHARSET "ISO-8859-1";

.newpublicidad-nav {
    
    height: 16px;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 30px;
    
}

.prevpublicidad{
	
	background: url("img/icon-next-prev.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: block;
    height: 16px;
    outline: medium none;
    position: relative;
    text-indent: -999em;
    width: 12px;
    background-position: left top;
    float: left;
    margin: 0 5px 0 0;
    margin-top:-20px;
	
}

.nextpublicidad{
	
	background: url("img/icon-next-prev.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: block;
    height: 16px;
    outline: medium none;
    position: relative;
    text-indent: -999em;
    width: 12px;
	margin-top:-20px;
	margin-left:15px;
	
}


.contenedorPublicidad{
		
	width:1100px;
	/*background-color: #999999;*/
	height:150px;
	margin-left:35px;
	margin-top:20px;
	position:relative;
		
}


.stepcarouselPublicidad{
		
	position: relative; /*leave this value along*/
	float:left;
	/*border: 1px solid black;*/
	overflow: scroll; /*leave this value alone*/
	overflow: hidden; /*leave this value alone*/
	width: 1100px; /*Width of Carousel Viewer itself*/
	height: 150px; /*Height should enough to fit largest content's height*/
	/*margin-left:24px;*/
	

}

.stepcarouselPublicidad .beltPublicidad{
	
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
	width: 5000px; /*Width of Carousel Viewer itself*/
	
}


#imagenesFabricantesMayoristas{
	
	float:left;
	margin-right:16px;
	
}

#contenedorPublicidad{
	
	clear:both;
	float:left;
	margn-top:100px;
	width:100%;
	
}

#publicidad{
	
	float:left;
	width:500px;
	background-color: #eceaea;
	margin-top:0px;
	margin-bottom:100px;
	width:100%;
	height:100px;
	position:relative;
	
}

#fabricantesMayoristas{
	
	float:left;
	/*margin-left:20px;*/
	color:#3699f8;
	font-weight: bold;
	padding: 0px;
	margin-bottom: 5px;
	margin-top:50px;
	
	
}

/*
#categorias_list{
	
	font-size: 12px;
	color:#000000;
	width:160px;
	height:25px;
	margin-top: 33px;
	
}

#subcategorias_list{
	
	font-size: 12px;
	color:#000000;
	width:200px;
	height:25px;
	margin-left:0px;
	margin-top:33px;
	
}

#especialidades_list{
	
	font-size: 12px;
	color:#000000;
	width:200px;
	height:25px;
	margin-left:10px;
	margin-top:33px;
	
	
}
*/

#buscadorIzquierda{
	
	clear:both;
	float:left;
	width:70px;
	height:50px;
	margin-left:10px;
		
}

#buscadorIzquierda p{
	
	color:#ffffff;
	line-height:0px;
	margin-left:5px;
	margin-top:10px;
	
}	

#coche{
	
	background-image: url(img/coche.png);
	clear:both;
	float:left;
	height:41px;
	margin-left:600px;
	margin-top:-25px;
	width:78px;
	
	
}

#llave{
	
	background-image: url(img/llave.png);
	clear:both;
	float:left;
	height:54px;
	margin-left:150px;
	margin-top:-40px;
	width:54px;
	
	
}


#buscadorDerecha{
	
	
	float:left;
	width:100px;
	height:50px;
	
	
}

#buscadorDerecha select{
	
	font-size: 12px;
	color:#000000;
	width:450px;
	height:25px;
	margin-top:2px;
	
	
}


#buscadorCategorias{
	
	position:relative;
	float:left;
	height: 200px;
	width:77.3%;
	background-color:#82bc00;
	border:1px solid #006239;
	border-radius:5px;
	
	/*background-color: #ECEAEA;*/
	
}

#buscador{
	
	float:left;
	width:100%;
	margin-top:180px;
	
}

#buscadorPiezas{
	
	position:relative;
	float:left;
	height: 200px;
	width:25%;
	background-color:#82bc00;
	border:1px solid #006239;
	border-radius:5px;
	margin-left:20px;
	
}

#buscadorPiezasIzquierda{
	
		
	clear:both;
	float:left;
	width:1px;
	height:50px;
	margin-left:10px;
	
}



#buscadorPiezasDerecha{
		
	float:left;
	height:50px;
	margin-left:20px;
	margin-top:12px;
	
}


#buscadorPiezasDerecha p{
	
	font-size: 12px;
	color:#ffffff;
	line-height:7px;
	
}


#buscadorPiezasIzquierda input[type="radio"]{

		margin-top:10px;
	
}



#buscadorCategorias span{
	
	margin-top:20px;
	color:#3599f9;
	font-size:14px;
}

#span1{
	
	
	color:#83c0fc;
	font-size:12px;
}

.btnSubmit{
	
	clear:both;
	
	position:absolute;
	display:block;
	top:59px;
	left:885px;
	background-image: url("img/buscar.png");
	border: none;
	height:39px;
	width:150px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
	/*text-indent: ;*/
	
}

.btnSubmit:hover{
	
	
	background-position: 0px -39px;
	
}


