@CHARSET "ISO-8859-1";


.secciones{
	
	float:left;
	list-style-type: none;	
}

.secciones li{
	
	border-left:1px solid #333333;
	float:left;
	line-height: 15px;
	padding:0 8px;
}

.seccion{
	
	font-size: 12px;
	font-weight: bold;
	color:#6da5fa;!important
	
}

.seccion:hover{
	
	text-decoration: underline;
	
}

.seccionApretado{
	
	font-size: 12px;
	font-weight: bold;
	color:#00b6f6;!important
	
	
}


.seccionApretado:hover{
	
	text-decoration: underline;
	
}


#demandasBuscador{
	
	clear:both;
	float:left;
	margin-top:20px;
	width:954px;
	margin-bottom: 50px;	
	
	/*position: absolute;
	float:left;
	top:110px;
	left:10px;
	width:954px;
	position:relative;
	margin-top:68px;*/
	
	
}


/*
#categorias_list{
	
	float:left;	
	font-size: 12px;
	color:#000000;
	width:160px;
	height:25px;
	
}

#subcategorias_list{
	
	float:left;
	font-size: 12px;
	color:#000000;
	width:200px;
	height:25px;
	margin-left:0px;

	
}

#especialidades_list{
	
	float:left;
	font-size: 12px;
	color:#000000;
	width:200px;
	height:25px;
	margin-left:10px;
	
	
}
*/

.numberCircle {
	
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 18px;
    height: 18px;
    padding: 8px;
	background: #456203;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
	font: 12px Arial, sans-serif;
	float:left;
	margin-left:10px;
	margin-top:10px;
	
}

#buscadorCategorias h1{
	
	float:left;
	font-size: 12px;
	color:#ffffff;
	margin-left:10px;
	margin-top:15px;
	
}

#buscadorPiezas h1{
	
	float:left;
	font-size: 12px;
	color:#ffffff;
	margin-left:10px;
	margin-top:15px;
		
}



#buscadorCategorias{
	
	clear:both;
	float:left !Important;
	width:77.3% !Important;
	margin-bottom: 0px !Important;	
	height:204px !Important;
	
	
	/*position: absolute;
	float:left;
	top:110px;
	left:10px;
	width:954px;
	position:relative;
	margin-top:68px;*/
	
	
}

/*
#buscadorCategorias p{
	
	float:left;
	margin-left:15px;
	margin-right:10px;
	margin-top:35px;
	
}

#buscadorCategorias span{
	
	margin-top:20px;
	color:#3599f9;
	font-size:14px;
}
*/

#contactarPieza{
	
	float:left;
	margin-left:20px;
	position:relative;
	height: 90px;
	width:20%;
	background-color:#82bc00;
	border:1px solid #006239;
	border-radius:5px;
	
}

#contactarPieza h1{
	
	float:left;
	font-size:12px;
	color:#ffffff;
	line-height:15px;
	margin-left:5px;
	width:140px;
	margin-top:0px;
	
	
}

#buscarPieza h1{
	
	float:left;
	font-size:12px;
	color:#ffffff;
	line-height:15px;
	margin-left:5px;
	width:140px;
	margin-top:0px;
	margin-bottom:0px!Important;
	
}

#buscarpiezatext{
	
	float:left;
	height:30px;
	margin-left:3px;
	width:110px;
	
	
}





#esquina{
	
	float:left;
	background-image: url("img/contactar.png");
	width:42px;
	height:31px;
	margin-top:-1px;
	margin-left:0px;
		
}



#esquina2{
	
	float:left;
	background-image: url("img/referencia.png");
	width:39px;
	height:31px;
	margin-top:-1px;
	margin-left:0px;
		
}


#buscarPieza{
	
	float:left;
	margin-left:20px;
	position:relative;
	height: 90px;
	width:20%;
	background-color:#82bc00;
	border:1px solid #006239;
	border-radius:5px;
	margin-top:20px;
	
}

.btncontactarpieza{
	
	float:left;
	background:url(img/botoncontactar.png);
	background-repeat:none;
	background-position:0px 0px;
	width:70px;
	height:30px;	
	border:none;
	cursor:pointer;
	margin-left:60px;	
	
}

.btncontactarpieza:hover{
	
	float:left;
	background:url(img/botoncontactar.png);
	background-repeat:none;
	background-position:0px -30px;
	width:70px;
	height:30px;	
	border:none;
	cursor:pointer;
	margin-left:60px;	
	
}


.buscarAvanzadaButton{
	
	float:left;
	background:url(img/buscar2.png) repeat-x;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	/*margin-left:58%;*/
	margin-top:-12px;
	
}

.buscarAvanzadaButton:hover{
	
	float:left;
	background:url(img/buscar2.png) repeat-x;
	background-position: 0 -29px;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	/*margin-left:58%;*/
	margin-top:-12px;
	
	
}

.buscarAvanzadaButton2{
	
	float:left;
	background:url(img/buscar2.png) repeat-x;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	margin-left:361px;
	margin-top:20px;
	
	
}

.buscarAvanzadaButton2:hover{
	
	float:left;
	background:url(img/buscar2.png) repeat-x;
	background-position: 0 -29px;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	margin-left:361px;
	margin-top:20px;
	
	
}

.buscarAvanzadaButton3{
	
	float:left;
	background:url(img/buscar2.png) repeat-x;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	margin-left:160px;
	margin-top:20px;
	
	
}

.buscarAvanzadaButton3:hover{
	
	float:left;
	background:url(img/buscar2.png) repeat-x;
	background-position: 0 -29px;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	margin-left:160px;
	margin-top:20px;
	
	
}


#busquedaAvanzada{
	
	clear:both;
	float:left;
	margin:20px 0 0;
	width:99.5%;
	margin-bottom:50px;
	
}

#busquedaAvanzada p{

	float:left;
	margin:0px;
	line-height: 1px;
	font-size:12px;
	color:#ffffff;
	font-weight: bold;
		
}

#busquedaAvanzada a{
	
	font-size:12px;
	color:#82bc00;
	font-weight: bold;
	
}



#cuadroBusquedaAvanzada{

	clear:both;
	float:left;
	height: 50px;
	width:100%;
	background-color:#82bc00;
	border:1px solid #006239;
	border-radius:5px;	
	/*display:none;*/
	
}	

#cuadroBusquedaAvanzada p{

	float:left;
	margin-left:20%;
	font-size:12px;
	margin-left:3%;
	margin-right:1%;
	margin-top:20px;
	
	
}

#cuadroBusquedaAvanzada input[type="checkbox"]{
	
	float:right;
	margin-left:10px;
	margin-top:-5px;
	
}	
	
#cuadroBusquedaAvanzada .select{
	
	float:left;
	margin-top:12px;
	
}		
	
	
	
.btncontactarpieza:hover{
	
	background:url(img/botoncontactar.png) repeat-x;
	background-position: 0 -28px;
	width:70px;
	height:30px;	
	border:none;
	cursor:pointer;
	
}

#buscarPieza h1{
	
	font-size:12px;
	color:#ffffff;
	
}

.btnbuscarpieza{
	
	float:left;
	background:url(img/botonok.png);
	background-repeat:none;
	background-position: 0px 0px;
	width:53px;	
	height:27px;	
	border:none;
	cursor:pointer;
	margin-left:10px;
	margin-top:3px;	
	
}

.btnbuscarpieza:hover{
	
	float:left;
	background:url(img/botonok.png);
	background-position: 0px -27px;
	width:53px;
	height:27px;	
	border:none;
	cursor:pointer;
	margin-left:10px;
	margin-top:3px;	
	
}


#span1{
	
	
	color:#83c0fc;
	font-size:12px;
}

.btnSubmit{
	
	clear:both;
	
	position:absolute;
	display:block;
	top:59px;
	left:885px;
	background-image: url("img/buscar.png");
	border: none;
	height:39px;
	width:150px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
	/*text-indent: ;*/
	
}

.btnSubmit:hover{
	
	
	background-position: 0px -39px;
	
}


