#soyCliente{
	
	display:block;
	margin:0 auto;
	background-image: url("img/buscar3.png");	
	background-position:0px 0px;
	width:91px;
	height:30px;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	margin-top:-10px;
	text-align:center;
	color:#ffffff;
	
	
}

#soyCliente:hover{
	
	display:block;
	margin:0 auto;
	background-image: url("img/buscar3.png");	
	background-position:0px -31px;
	width:91px;
	height:31px;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	margin-top:-10px;
	text-align:center;
	text-decoration: none;
	color:#ffffff;
	
}

#nosoyCliente{
	
	display:block;
	margin:0 auto;
	background-image: url("img/buscar4.png");	
	background-position:0px 0px;
	width:91px;
	height:30px;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	margin-top:-10px;
	text-align:center;
	color:#ffffff;
}

#nosoyCliente:hover{
	
	display:block;
	margin:0 auto;
	background-image: url("img/buscar4.png");	
	background-position:0px -31px;
	width:91px;
	height:31px;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	margin-top:-10px;
	text-align:center;
	text-decoration: none;
	color:#ffffff;
}


#loginar h1{
	
	
	margin:0 auto;
	margin-top:10px;
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
	width:147px;
	
}



.submit{
	
	margin-left:0px!Important;
		
}


#create-account_form {
    height: 0 !important;
    width: 180px !important;
}

#usuario {

	margin:0 auto;
	background-image: url("usuario.png");
    height: 80px;
    width: 55px;
    margin-top:20px;
    
}

#usuario2 {
    float: left;
    height: 72px;
    margin-left: 75px;
    width: 49px;
}

#create-account_form #email_create, #login_form #email, #login_form #passwd, #login_form #login_email, #login_form #login_passwd {
    border: 1px solid #000000 !important;
}

#loginar2 {
    
    clear: both;
    /*
    height: 493px;
    margin-bottom: 20px;
    position: relative;
    width: 202px;
	*/
}

#loginar2 p {
    padding-bottom: 0 !important;
}

h3 a{
	
	font-size:14px;
	color:#ffffff !Important;
	margin-left:65px;
	margin-top:10px;

}

#loginar {
    
    background-color: #82bc00;
    border-color: #006239;
    border-style: solid;
    border-width: 1px;
    clear: both;
    
    /*height: 492px;*/
    height:283px;
    
    margin-bottom: 20px;
    position: relative;
    width: 202px;

}

#email_create {
    float: left !important;
    margin: 5px 0 0 5px !important;
    width: 170px !important;
}
#SubmitCreate {
    background: url("http://localhost/prestashop1.5dosa/modules/loginar/../../themes/default/img/bg_bt_3.gif") repeat-x scroll 0 0 #f4b61b !important;
    border: 1px solid #cc9900;
    border-radius: 3px !important;
    color: #000;
    cursor: pointer;
    display: inline-block;
    float: left !important;
    font-weight: bold;
    margin-left: 5px !important;
    margin-top: 10px;
    padding: 5px 7px;
    position: relative;
}
#SubmitCreate:hover {

	background-position: left -50px !important;
    text-decoration: none !important;

}

#noregistrado {
	
	color: #ffffff;
    font-size: 12px;
    margin:0 auto;
    margin-top:20px;
    width:139px;
    
}

#noregistrado1{
	
	color: #ffffff;
    font-size: 12px;
    margin:0 auto;
    width:130px;
	margin-top:10px;
	
}

#registrado {
    color: #ffffff;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 40px;
}
#email {
	
    /*margin-left: 5px !important;*/
    width: 460px !important;
}

#labelPasswd {
	
    margin-bottom: 5px !Important;
    margin-left: 5px !Important;
    margin-top: 20px !Important;
	color:#ffffff !Important;
	text-align:left !Important;
	padding:0px !Important;	
	

}

.lost_password {
    float: left !important;
    margin-left: 5px;
    margin-top: 20px;
}
#SubmitLogin {
    float: left !important;
    margin-left: 5px;
    margin-top: 10px;
}
#passwd {
    margin-left: 5px !important;
    width: 170px !important;
}

#emailLabel {
	
    color: #ffffff !Important;
    float: left !Important;
    font-size: 12px !Important;
    margin-bottom: 5px !Important;
    margin-left: 5px !Important;
    margin-top: 10px !Important;
    padding:0px !Important;
    text-align:Left !Important;

}


#direccion {
	
    color: #ffffff !Important;
    float: left !Important;
    font-size: 12px !Important;
    margin-left: 5px !Important;
    margin-top: 10px !Important;
    padding:0px !Important;
    text-align:left !Important;
    

}
