#submitMessage{
	
	float:left !Important;
	background:url(../img/buscar2.png) repeat-x !Important;
	width:91px !Important;
	height:31px !Important;	
	border:none !Important;
	cursor:pointer !Important;
	margin-left:565px !Important;
	margin-top:20px !Important;
	
	
}

#submitMessage:hover{
	
	float:left !Important;
	background:url(../img/buscar2.png) repeat-x !Important;
	background-position: 0 -29px !Important;
	width:91px !Important;
	height:31px !Important;	
	border:none !Important;
	cursor:pointer !Important;
	margin-left:565px !Important;
	margin-top:20px !Important;
	
	
}

h1{
	
	font-size:16px;
	margin-left:5px;
	
		
}

#center_column p{
	
	margin-left:5px !Important;
	
	
}

	#contact  fieldset {
	
		padding:0 0 15px 0;
		border:1px solid #ccc;
		background:#f8f8f8;
	
	}
	
		#contact  h3 {
		
			margin:0 0 15px 0;
			padding:8px;
			font-size:14px;
			color:#fff;
			text-transform:uppercase;
			background:url(../img/bg_form_h3.png) repeat-x 0 0 #989898;
		
		}
		
		#contact #center_column p {margin:0; padding:0 0 10px 0;}
		
		#contact #center_column p.desc_contact { 
		
			/*text-align: center;*/ 
			padding-left: 15px; 
			padding-right: 10px; 
		
		}
		
		#contact p.text label,#contact p.select label,#contact p.select span,#contact p.textarea label {
		
			display:inline-block;
			padding:6px 15px;
			width:150px;/* 180 */
			font-size:12px;
			text-align:left;
		
		}
		
		#contact p.textarea label {
		
			vertical-align:top;
		
		}
		
		#contact p.text input,#contact p.select input {
		
			padding:0 5px;
			height:22px;
			width:460px;/* 270 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		
		}
		
		#contact p.select select {
		
			margin-right:10px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		
		}
		
		#contact p.textarea textarea {
		
			height:220px;
			width:474px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		
		}
		
		#contact p.submit input {
		
			margin-left:185px;
		
		}