@CHARSET "ISO-8859-1";


#reaseguro{
	
	float:left;
	width:100%;
	margin-top:50px;
	margin-bottom:100px;	
	
}

#centrado{
	
	margin:0 auto;
	width:980px;
	
}

#header_links {

	list-style-type: none!Important;
	float: left!Important;
	margin-top:5px!Important;
	margin-left:0px!Important;
	font-size:11px;
	font-weight:700;	
	text-transform: capitalize;
	color:#686868;
}

#header_links li {
	
	float: left;
	padding: 0 8px;
	border-left:1px solid #333;
	line-height:11px;

}

#header_links li img{
	
	vertical-align:middle;
	
}

#menu1{
	
	position:absolute;
	z-index: 999;
	left:10px;
	width:200px;
	top:10px;
}

#menu2{
	
	/*position:absolute;*/
	float:right;
	position:absolute;
	z-index: 999;
	right:14%;
	
	/*top:10px;*/
	
}

#sddm{
		
	margin: 0;
	padding: 0;
	z-index: 30;
	
}

/*
#sddm img{
		
	float:left;
	margin-left:20px;
	
}
*/

#sddm .menu1{
		
	width:100px;
	
}

#sddm li{
	
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
}

#sddm li a {
	
	display: block;
	/*margin: 0 1px 0 0;
	padding: 4px 10px;*/
	margin:0px 1px 0px 0px;
	padding: 0px 10px;
	width: auto;
	/*background: #f8f7f7;*/
	color: #000000;
	text-align: center;
	text-decoration: none;
	border-left-style: solid;
	border-left-color: #cccccc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-right-width: 1px;
	
}

#sddm li a:hover {
	
	background: #82bc00;
	text-decoration: underline;
	
}

#sddm div{
	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #82bc00;
	z-index:2;
	/*border: 1px solid #5970B2;*/

}

#sddm div a{

	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #82bc00;
	color: #006239;
	font: 11px arial;
}

#sddm div a:hover{
	
	background: #82bc00;
	color: #006239;
	text-decoration: underline;
}

#carro{
	
	float:left;
	margin-top:-5px;
	
}




