/* #my-account  #left_column {display:none} */
#my-account #center_column {width:757px}
#my-account #center_column h1 {
	
	margin-bottom:20px;
	border:1px solid #82bc00;
	border-radius:5px;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:5px;

}

#cuadroIntranet{
	
	border:1px solid #006239;
	border-radius:5px;
	width:97%;
	height:886px;
	background-color:#ebf4d6;
	padding:10px 10px 10px 10px;	
	
	
}


#my-account #center_column .title_block  {
	font-weight:normal;
	font-size:12px;
	color:#666
}


#my-account .myaccount_lnk_list {
	
	list-style-type:none;
	margin-bottom:20px;
	padding-bottom:20px;

}

#my-account .myaccount_lnk_list li {
	
	/*
	font-size:13px;
	line-height:36px
	*/
	
	line-height:17px;
	padding:10px 0;
	float:left;
	background-color:#FCFAEE;
	border:1px solid #cccccc;
	height:170px;
	margin-bottom:50px;
	margin-right:20px;
	margin-top:20px;
	width:300px;	
	font-size:13px;
	line-height:36px

}

.myaccount_lnk_list li  a{
	
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#cccccc;
	font-weight:700;
	float:left;
	padding-bottom:10px;
	padding-top:2px;
	text-align:center;
	width:100%;
	
}

.myaccount_lnk_list li  a:hover{
	
		color:#1b1b1b;
		text-decoration:underline;
}

.myaccount_lnk_list li  p{
	
	float:left;
	margin-left:5px;
	margin-right:2px;
	margin-top:20px;
	font-size:12px;
	color:#222;
	
}
.pfinal{
	
	flaot:left;
	
}	

#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
	position:relative;
	top:6px;
	left:0
}

#cuadroIntranet p{
	
	float:left !Important;
	clear:both;
	
}