.button_large,.exclusive_large{
	
	background:url(../img/continuarcompra.png) repeat-x !Important;
	width:126px !Important;
	height:20px !Important;	
	border:none !Important;
	cursor:pointer !Important;
	line-height:17px;
	
}

.button_large:hover,.exclusive_large:hover{
	
	background:url(../img/continuarcompra.png) repeat-x !Important;
	background-position: 0 -29px !Important;
	width:126px !Important;
	height:20px !Important;	
	border:none !Important;
	cursor:pointer !Important;
	line-height:17px;
	
}


.exclusive_large{
	
	background:url(../img/continuarcompra.png) repeat-x !Important;
	width:140px !Important;
	height:30px !Important;	
	border:none !Important;
	cursor:pointer !Important;
	line-height:17px;
	
}

.exclusive_large:hover{
	
	background:url(../img/continuarcompra.png) repeat-x !Important;
	background-position: 0 -29px !Important;
	width:140px !Important;
	height:30px !Important;	
	border:none !Important;
	cursor:pointer !Important;
	line-height:17px;
}
