/*
#short_description_content{

	padding-top:0px!Important;
	
}
*/

form.std fieldset {
	margin:0px 0 !Important;
	border:0px!Important;
}


#informacionGratis{
	
	background: none repeat scroll 0 0 #0379a6;
    border-radius: 3px 3px 3px 3px;
    border:1px solid #e7f0f6;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    position: relative;
    text-shadow: 0 1px 0 #01080C;
    transition: background-color 0.2s ease 0s;
    width: auto;
	margin-top:20px;
		
}

#informacionGratis:hover{
	
	background: none repeat scroll 0 0 #055f82;
    border-radius: 3px 3px 3px 3px;
    border:1px solid #e7f0f6;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    position: relative;
    text-shadow: 0 1px 0 #01080C;
    transition: background-color 0.2s ease 0s;
    width: auto;
	margin-top:20px;
		
}



#hr2{
	
	background-color:#d7dbe0;
	border:0 none;
	color:#d7dbe0;
	float:left;
	height:1px;
	width:250px;
	margin-left:10px;
	margin-top:150px;
	
	
		
}

#maletin{
	
	position:absolute;
	left:110px;
	
}

#nombreEmpresa1{
	
	display:block;
	position:absolute;
	left:155px;
	top:15px;
	
}

#vendedor1{
	
	position:absolute;
	left:155px;
	top:30px;
	
}

#nProductos1{
	
	position:absolute;
	left:18px;
	top:180px;
	
	
}

#todosProductos1{
	
	position:absolute;
	left:18px;
	top:200px;
	
}

#datosEmpresa2{
	
	position:relative;
	/*margin-left:760px;*/
				
}

#datosEmpresa2 img{

	margin-left:20px;
	margin-top:13px;
	
}

#liniaSeparadoraVertial{

	border-left:1px solid #cccccc;
	float:left;
	/*height:700px;*/
	width:1px;

}

#cuadroContacto input[type="text"]{
	
	border:1px solid #dddddd;
	color:#646464;
	line-height:24px;
	padding:0 5px;
	
}

#datosColumnaIzquierda p{
	
	margin-top:13px;
		
}

#cuadroContacto h7{
	
	font-size:14px;
	color:#95a3ad;	
	float:left;
	margin-left:10px;	
		
}

.submit{
	
	clear:both;
	margin-left:370px;	
}

#cuadroContacto{
	
	/*width:100%;*/
	background-color: #ebf4d6;
	/*border-color:#0379a6;
	border-style: solid;
	border-width: thin;
	height:900px;*/
	margin-top:0px;
	margin-bottom:100px;

}

.form.std fieldset{
	
	border:0px!Important;
	
}


#more_info_block{
	
	margin-top:50px;
		
}

/*
.idTabs {
    
    position: relative;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
	
}

.idTabs:before {
    z-index: 1;
}

.idTabs:after {
	
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
    top:42px;
}

.idTabs li {
    
    position: relative;
    z-index: 0;
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: #ECECEC;
    display: inline-block;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;

}

.idTabs li:after {
	
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 red;

}

.idTabs li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 red;
    box-shadow: 2px 2px 0 #ECECEC;
    
}

.idTabs li:after {
    right: -6px;
    box-shadow: -2px 2px 0 #ECECEC;
}
.idTabs li:after, .idTabs li:before {
    border: 1px solid #AAA;
}

.idTabs li.selected {
    
    background: #FFF;
    color: #000;
	z-index: 2;
    border-bottom-color: #FFF;
    
}

.idTabs li.selected:before {
    
    box-shadow: 2px 2px 0 #FFF;
    
}

.idTabs li.selected:after {
    
    box-shadow: 2px 2px 0 #FFF;
    
}

 box-shadow: -2px 2px 0 #FFF;


.idTabs li a{
	
	font-size
	
}
*/

#nProductos{
	
	position:absolute;
	top:160px;
}

#todosProductos{
	
	position:absolute;
	top:180px;
	left:5px;
}


#nombreEmpresa{
	
	position:absolute;
	left:165px;
	top:3px;
	width:100%;
		
}

#vendedor{
	
	position:absolute;
	top:20px;
	left:165px;
	width:100%;
		
}

#ProductoMasInformacion{
	
	float:left;
	width:400px;
	background-color: #e7f0f6;
	border-color:#0379a6;
	border-style: solid;
	border-width: thin;
	height:200px;
	margin-left:100px;
	height:400px;	
		
}


#datosEmpresa{
	
	position:relative;
	width:300px;
		
}

#datosEmpresa hr{
	
	  border: 0;
	  width: 50px;
	  color: #d7dbe0;
	  background-color: #d7dbe0;
	  height:1px;	
	  float:left;
	  clear:both;
	  margin-top:20px;
	
}

#datosEmpresa img{
	
	float:left;
	margin-left:20px;	
	
}

#datosEmpresa p{
	
	/*
	float:left;
	margin-left:10px;
	*/
	
}

.cuadroContacto{
	
	/*width:1130px;*/
	background-color: #e7f0f6;
	border-color:#0379a6;
	border-style: solid;
	border-width: thin;
	height:900px;

}

#tituloContacto{
	
	font-size: 12px;
	font-style: normal;
	color:#333333;
		
}

hr {
 
  border: 0;
  width: 500px;
  color: #d7dbe0;
  background-color: #d7dbe0;
  height:1px;	
  float:left;

}

#imagenCorreo{
	
	float:left;
	background-color: #E7F0F6;	
	width:100px;
	margin-left:50px;
	margin-top:50px;
		
}

#imagenCorreo img{
	
	float:left;
	
}

#datosColumnaDerecha{
	
	float:left;
	margin-left:10px;
	margin-top:5px;
	width:200px;
}

#datosColumnaIzquierda{
	
	clear:both;
	float:left;
	width:150px;
	text-align:left;		
}

#datosColumnaDerecha input[type="text"]{
	
	/*padding-top: 10px;*/
	height:23px;
	width:250px;
	margin-top:2px;
	
}

#datosColumnaDerecha textarea{
	
	width:350px;
	height:200px;
	
}

.cuadroContacto h7{
	
	font-size: 14px;
	font-style: normal;
	color:#95a3ad;
	padding-left: 10px;
	padding-top: 20px;
	float:left;
	
}

#columnaContactoIzquierda{
	
	clear:both;
	float:left;
	/*width:750px;*/
	margin-left:10px;
	margin-top:20px;
	
}




