@CHARSET "ISO-8859-1";


ol{
	
	margin-bottom:50px;
	margin-left:35px;
	
}

ol li{
	
	color:#333333;
	font-size:12px;
	margin-bottom:10px;
	
}

h1{
	
	margin-left:5px;
	color:#006239;
	
}

#business{
	
	color:#006239;
	
}

#contenedorReciclinic{
	
	/*
	background-color: #ffffff;
	box-shadow: 1px 2px 2px 5px #cccccc;
	width:100%;
	height:1000px;
	*/
	
	margin-bottom:150px;
	padding-left:10px;
	padding-top:20px;
	
}

#contenedorReciclinic h3{
	
	color:#82bc00;
	line-height:20px;
	
	
}

#contenedorReciclinic p{
	
	margin-top:20px;
	margin-bottom:0px;	
	color:#333333 !Important; 
	font-size:12px;
}

#contenidoMaterial{
	
	float:left;
	margin-top:50px;
	
}

#contenidoMaterial h3{
	
	line-height: 5px;
		
}

#contenidoMaterial p{
	
	
	
}

hr { 

	float:left;
	height:1px;
	line-height:1px;
	margin-top:0px;
	background-color: #cccccc;
 	height: 1px; 
	border:none;
	width:100%;

}


#left{
		
	width: 500px;
	height: 300px;
	float:left;
		
}
		
#right p{
		
	float:left;
	line-height:10px;
	margin-bottom:0px;
	width:400px;
	margin-top:9px;		
			
}

#right h3{
	
	float:left;
	margin-bottom:0px;
	
}
		
#right{
		
	width: 200px;
	float:left;
	padding: 10px;
	clear:both;
	margin-top:20px;
	
		
}
		
#right div{
		
	margin-bottom: 4px;
		
}
		
#right textarea{
		
	height: 150px;
	width: 300px;
		
}
		
#map{
		
	height:100%;
	border:1px solid #cccccc;
		
}
		
#infoBox {
		
	width:300px;
		
}