@CHARSET "ISO-8859-1";

#submitMessage{
	
	float:left;
	background:url(../img/buscar2.png) repeat-x;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	/*margin-left:58%;*/
	margin-top:20px;
	margin-left:490px;
	
}

#submitMessage:hover{
	
	float:left;
	background:url(../img/buscar2.png) repeat-x;
	background-position: 0 -29px;
	width:91px;
	height:31px;	
	border:none;
	cursor:pointer;
	/*margin-left:58%;*/
	margin-top:20px;
	margin-left:490px;
	
}

#cuadroVender{
	
	
	padding:20px;
	height:800px;
	margin-bottom:100px;
}

#cuadroVender p{
	
	font-size:12px;
	padding-bottom:0px;
	
}

#cuadroVender h1{
	
	color:#81bc00;	
		
}

#cuadroVender h1 span{
	
	color:#006239;
	font-size: 14px;
			
}

#cuadroVender h3{

	font-size: 13px;
	color:#81bc00!Important;
		
}

#cuadroVender h3 span{

	color:#006239 !Important;
		
}

hr{
	
	width:100%;
	background-color: #cccccc;
	height:1px;
	border:none;
	margin-bottom:50px;
	
}

.imgVender{
	
	float:left;
	
	
}

#imgVender1{
	
	background-image: url('../img/milescompradores.png');
	background-position:center center;
	background-repeat:no-repeat;
	width:200px;
	height:52px;
	margin-bottom:10px;	
	
}

#imgVender2{
	
	background-image: url('../img/milescompradores.png');
	width:67px;
	height:52px;
	margin-bottom:10px;
	
}

#imgVender3{
	
	background-image: url('../img/vendealinstante.png');
	background-position:center center;
	background-repeat:no-repeat;
	width:200px;
	height:52px;
	margin-bottom:10px;	
	
}

#imgVender4{
	
	background-image: url('../img/ahorratiempo.png');
	width:67px;
	height:52px;
	margin-bottom:10px;
	background-position:center center;
	background-repeat:no-repeat;
	width:200px;
	height:52px;
	margin-bottom:10px;	
	
}

#imgVender5{
	
	background-image: url('../img/promocionatusproductos.png');
	width:67px;
	height:52px;
	margin-bottom:10px;
}

#imgVender6{
	
	background-image: url('../img/aumentatusbeneficios.png');
	width:67px;
	height:52px;
	margin-bottom:10px;
}

#clienteVender{
	
	background-image: url('../img/vendedor.jpg');
	width:120px;
	height:156px;	
	
}

#izquierdaVender p{
	
	width:200px;
	margin-left: 20px;
	margin-top:0px;
	margin-bottom:0px;	
		
}

#pVender1{
	
	float:left;
	width:200px;
	margin-left: 20px;
	margin-bottom:20px!Important;
	color:#676767;
	
}

#formulario{
	
	width:200px;
	
}

#izquierdaVender{
	
	float:left;
	width:300px;
	
}

#derechaVender{
	
	float:left;
	width:98%;
	background-color: #F5F5F5;
	height:600px;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:20px;
	
}



#condiciones{
	
	width:380px;
}

#tituloDercha{
	
	font-size: 14px;
	color:#81bc00 !important;
	margin-bottom:20px;
	
}

#derechaVender input[type='text']{
	
	width:200px !Important;
	margin-bottom:20px;
	backgrond:#ffffff;
	border:1px solid #dddddd;
	color:#646464;
	height:24px;
	line-height:24px;
	padding:0 5px;
	margin-left:0px !Important;
	
		
}

.contenedorImagenes{
	
	float:left;
	width:200px;
	margin-right:20px;
	
	
}

.contenedorImagenes p{
	
	clear:left;
	color:#81bc00 !important;
	text-align:center;
}

#iconos{
	
	clear:both;
	
}

#subtitulo{
	
	font-size: 14px;
	color:#81bc00 !important;
	margin-bottom:50px;
	clear:both;
	
}

#submitFormulario{
	
	background:#ffffff;
	border:1px solid #ddd;
	line-height: 24px;

}
