/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {
	
	float:left;	
	/*background:url(../blockreinsurance/img/bg_reinsurance_block.gif) repeat-x 0 0 #c3c7cb;*/
	margin-bottom:50px;
	background-color:#82bc00;
	border:1px solid #006239;
	border-radius:10px;
	width:100%;
	height:60px;

}

#reinsurance_block li {
	
	float:left;
	font-size:12px;
	list-style-type: none;
	width:20%!Important;
	margin-top:10px;
	
}
#reinsurance_block .width1 li {width:960px}
#reinsurance_block .width2 li {width:470px}
#reinsurance_block .width3 li {width:305px}
#reinsurance_block .width4 li {width:224px}
#reinsurance_block .width5 li {width:175px}
#reinsurance_block li img{
	
	float:left;
	/*margin-right:10px;*/
	
}

#reinsurance_block li span {
	/*
	float:left;
	padding-top:12px;
	width:65%;
	*/
}
#span1{
	
	float:left;
	font-size:12px;
	color:#cbe1aa;
	margin-top:5px;
	
}

#span2{
	
	float:left;
	color:#006239;
	font-size:12px;
	
}	



