@CHARSET "ISO-8859-1";

/*
.pruebamodulo-title{

	background: url("../images/barraHeaderBlue.jpg") repeat scroll 0 bottom #E4E3E2;
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: 700;
    float:left;
    margin-left:10px;
    width:965px;
    height:42px;
    
	
}

#contenedor{
	
	position:relative;
	width:700px;
	height:273px;
	border: solid;
	border-color: #cccccc;
	border-width: thin;
	float:left;
	margin-bottom:50px;
	margin-left:12px;
	
}
*/

.precio{
	
	color:#82bc00;
	font-size:14px;
	font-weight:bold;
	margin-left:5px;
	
	
}

.boton{
	
	clear:both;
	
}

.botonInovadores{
	
  border: 1px solid #006239;
  text-decoration:none;
  background: #82bc00 no-repeat scroll 5px center;
  margin-left:5px;	
  color:#ffffff !Important;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 1px 1px 1px #333333;
  border-radius: 5px;
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
  cursor: pointer;
	
}

.botonInovadores:hover{

	background: #689502	 no-repeat scroll 5px center;
	text-decoration:none;	
	cursor: pointer;
}	

.articulo{
	
	
		
}

.articulo h5{
	
	text-align:center;	
	margin-top:10px;
}

.articulo h5 a{
	
	color:#82bc00;
	font-size:14px;
	font-weight: bold;
}	


.imagenInovador{

	text-align: center;	
	margin-top:20px;
	width:200px;
	margin-left:19px;	
	box-shadow:1px 1px 5px #888888;
	margin-bottom:20px;
	background-color:#ffffff;
	
}

.contenedorInovadores{
		
	width:750px;
	height:500px;
	margin-left:12px;
	margin-top:0px;
	float:right;
	margin-bottom:50px;
		
}

.contenedorInovadores1{
	
	float:right;
	margin-left:10px;	
	width:750px;
	margin-top:0px;
	
}


.header{
	
	background: url("../images/barraHeaderBlue.jpg") repeat scroll 0 bottom #E4E3E2;
	width:750px;
    height:42px;
	margin-bottom:20px!Important;
	
}

.newproduct-title{

    /*background: url("../images/barraHeaderBlue.jpg") repeat scroll 0 bottom #E4E3E2;*/
    
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: 700;
    float:left;
    margin-left:10px;
    margin-top:10px;
    
    
    /*
    background: url("images/bg-h3-tab.png") repeat scroll 0 bottom #E4E3E2;
    color: #5C5B5B !important;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 0 0 0 10px;
    */

}

.product_descInovador{
	
	line-height: 16px;
	overflow: hidden;
	text-overflow:ellipsis;
	margin-left:5px;
	margin-right:5px;
	color:#333333;
	height:55px;
	margin-bottom:15px;
}

#contadorInovadores{
	
	color:#006239;
	font-size:18px;
	font-weight: bold;	
}

.stepcarouselInovadores{
		
	position: relative; 
	float:right;
	overflow: hidden; 
	width: 750px; 
	height: 450px; 
	margin-left:-10px;
	

}

.empresaInovadores{
	
	float:left;
	margin-left:5px;
	
}

.empresaInovadores img{
	
	float:left;
	
}

#nombreEmpresaInovadores{
	
	display:inline;
	float:left;
	margin-left:3px;
	margin-top:2px;
	
}

#categoriaInovadores{
	
	clear:both;
}

.stepcarouselInovadores .beltInovadores{
	
	position: absolute;
	left: 0;
	top: 0;
	width: 5000px;
	
	
}

#ulInovadores {

	height: auto!important;
	list-style-type:0px;
	
}


#ulInovadores li{
	
	display: block;
    float: left;
    width: 241px;
    height:430px;
	border: solid 1px #cccccc;
	margin-right:10px;
	background-color:#ebf4d6;
	
	
}


.newproduct-nav {

	height: 16px;
   	width: 30px;
	float:right;
	margin-right:10px;
	margin-top:10px;
	

}

.next, .prev {

	background: url("../images/icon-next-prev.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: block;
    height: 16px;
    outline: medium none;
    position: relative;
    text-indent: -999em;
    width: 12px;

}

.next {    

	float: right;

}

.next:hover {
    background-position: right -19px;
	
}

.prev {
    
    background-position: left top !Important;
    float: left;
    margin: 0 5px 0 0;

}

.prev:hover {
    background-position: left -19px;
}


