	<table cellpadding="5" style="width:100%">
		<tr>
			<td class="col-left"><label>{l s='File:' mod='agilemultipleseller'}</label></td>
			<td style="padding-bottom:5px;">
			    <input type="file" name="qqfile" size="55" />
    			{l s='Format:' mod='agilemultipleseller'} JPG, GIF, PNG. {l s='File size:' mod='agilemultipleseller'} {$max_image_size|string_format:"%.2f"}{l s='kB max.' mod='agilemultipleseller'}
                <input type="submit" class="button" name="submitAddImage" value="{l s='   Upload   ' mod='agilemultipleseller'}" />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center;">
				<input type="hidden" name="resizer" value="auto" />
					{if Tools::getValue('id_image')}<input type="hidden" name="id_image" value="{Tools::getValue('id_image')}" />{/if}
			</td>
		</tr>
		<tr><td colspan="2" style="padding-bottom:10px;"><div class="separation"></div></td></tr>
		<tr>
			<td colspan="2">
            	<span>{l s='Total images found:' mod='agilemultipleseller'}: {$countImages}</span><br />
				<table cellspacing="0" cellpadding="0" width="300" class="table tableDnD" id="imageTable">
						<thead>
						<tr class="nodrag nodrop"> 
							<th style="width: 100px;">{l s='Image' mod='agilemultipleseller'}</th>
							<th>{l s='Position' mod='agilemultipleseller'}</th>
							{*
							{if $shops}
							{foreach from=$shops item=shop}
								<th>{$shop.name}</th>
							{/foreach}
							{/if}
							*}
							<th>{l s='Cover' mod='agilemultipleseller'}</th>
							<th>{l s='Action' mod='agilemultipleseller'}</th>
						</tr>
						</thead>
						<tbody id="imageList">
						</tbody>
				</table>
			</td>
		</tr>
	</table>

	<table id="lineType" style="display:none;">
		<tr id="image_id">
			<td style="padding: 4px;">
				<a href="{$smarty.const._THEME_PROD_DIR_}image_path.jpg" target="_blank">
					<img src="{$smarty.const._THEME_PROD_DIR_}en-default-small_default.jpg" alt="image_id" title="image_id" />
				</a>
			</td>
			<td id="td_image_id" class="pointer dragHandle center positionImage">
				image_position
			</td>
			{*
			{if $shops}
				{foreach from=$shops item=shop}
						<td class="center">
						<input type="checkbox" class="image_shop" name="id_image" id="{$shop.id_shop}image_id" value="{$shop.id_shop}" />
						</td>
				{/foreach}
			{/if}
			*}
			<td class="center cover"><a href="#">
				<img class="covered" src="{$base_dir_ssl}img/admin/blank.gif" alt="e" /></a>
			</td>
			<td class="center">
				<a href="#" class="delete_product_image" >
					<img src="{$base_dir_ssl}img/admin/delete.gif" alt="{l s='Delete this image' mod='agilemultipleseller'}" title="{l s='Delete this image' mod='agilemultipleseller'}" />
				</a>
			</td>
		</tr>
	</table>

    <script type="text/javascript" src="{$base_dir_ssl}js/jquery/plugins/jquery.tablednd.js"></script>
    <script type="text/javascript" src="{$base_dir_ssl}js/admin.js"></script>
    <script type="text/javascript" src="{$base_dir_ssl}modules/agilemultipleseller/js/front-products.js"></script>    
	<script type="text/javascript">
		var upbutton = "{l s='Upload an image' mod='agilemultipleseller'}";
		var token = '{$token}';
		var come_from = '{$table}';
		var success_add =  "{l s='image has been successfully added' mod='agilemultipleseller'}";
		var id_tmp = 0;
		var ajax_products_url = "{$base_dir_ssl}modules/agilemultipleseller/ajax_products.php";
		{literal}
		//Ready Function
		$(document).ready(function(){
			{/literal}
			{foreach from=$images item=image}
				assoc = {literal}"{"{/literal};
				{if $shops}
					{foreach from=$shops item=shop}
						assoc += '"{$shop.id_shop}" : {if $image->isAssociatedToShop($shop.id_shop)}1{else}0{/if},';
					{/foreach}
				{/if}
				if (assoc != {literal}"{"{/literal})
				{
					assoc = assoc.slice(0, -1);
					assoc += {literal}"}"{/literal};
					assoc = jQuery.parseJSON(assoc);
				}
				else
					assoc = false;
				imageLine({$image->id}, "{$image->getExistingImgPath()}", {$image->position}, "{if $image->cover}enabled{else}forbbiden{/if}", assoc);
			{/foreach}
			{literal}
			$("#imageTable").tableDnD(
			{
				onDrop: function(table, row) {
				current = $(row).attr("id");
				stop = false;
				image_up = "{";
				$("#imageList").find("tr").each(function(i) {
					$("#td_" +  $(this).attr("id")).html(i + 1);
					if ($(this).attr("id") == current)
					{	
						image_up += '"' + $(this).attr("id") + '" : ' + (i + 1) + ',';
						stop = true;
					}
					if (!stop || (i + 1) == 2)
						image_up += '"' + $(this).attr("id") + '" : ' + (i + 1) + ',';
				});
				image_up = image_up.slice(0, -1);
				image_up += "}";
				updateImagePositon(image_up);
				}
			});
			var filecheck = 1;

			/**
			 * on success function 
			 */
			function afterDeleteProductImage(data)
			{
				data = $.parseJSON(data);
				if (data)
				{
					cover = 0;
					id = data.content.id;
					if(data.status == 'ok')
					{
						if ($("#" + id).find(".covered").attr("src") == "{$base_dir_ssl}img/admin/enabled.gif")
							cover = 1;
						$("#" + id).remove();
					}
					if (cover)
						$("#imageTable tr").eq(1).find(".covered").attr("src", "{$base_dir_ssl}img/admin/enabled.gif");
					$("#countImage").html(parseInt($("#countImage").html()) - 1);
					refreshImagePositions($("#imageTable"));
					
					showSuccessMessage(data.confirmations);

				}
			}

			$('.delete_product_image').die().live('click', function(e)
			{
				e.preventDefault();
				id = $(this).parent().parent().attr('id');
				if (confirm("{/literal}{l s='Are you sure?' js=1}{literal}"))
				doFrontAjax(ajax_products_url,
				        {
						    "action":"deleteProductImage",
						    "id_image":id,
						    "id_product" : {/literal}{$id_product}{literal},
						    "id_category" : {/literal}{$id_category_default}{literal},
						    "ajax" : 1 
						}, 
						afterDeleteProductImage
				);
			});
			
			$('.covered').die().live('click', function(e)
			{
				e.preventDefault();
				id = $(this).parent().parent().parent().attr('id');
				$("#imageList .cover img").each( function(i){
					$(this).attr("src", $(this).attr("src").replace("enabled", "forbbiden"));
				});
				$(this).attr("src", $(this).attr("src").replace("forbbiden", "enabled"));
				doFrontAjax(ajax_products_url,
				{
					"action":"UpdateCover",
					"id_image":id,
					"id_product" : {/literal}{$id_product}{literal},
					"ajax" : 1 }
				);
				
			});
			
			$('.image_shop').die().live('click', function()
			{
				active = false;
				if ($(this).attr("checked"))
					active = true;
				id = $(this).parent().parent().attr('id');
				id_shop = $(this).attr("id").replace(id, "");
				doFrontAjax(ajax_products_url,
				{
					"action":"UpdateProductImageShopAsso",
					"id_image":id,
					"id_shop": id_shop,
					"active":active,
					"token" : "{/literal}{$token}{literal}",
					"tab" : "AdminProducts",
					"ajax" : 1 
				});
			});
			
			//function	
			function updateImagePositon(json)
			{
				doFrontAjax(ajax_products_url,
				{
					"action":"updateImagePosition",
					"json":json,
					"token" : "{/literal}{$token}{literal}",
					"tab" : "AdminProducts",
					"ajax" : 1
				});
	
			}
			
			function delQueue(id)
			{
				$("#img" + id).fadeOut("slow");
				$("#img" + id).remove();
			}
			
			function imageLine(id, path, position, cover, shops)
			{
				line = $("#lineType").html();
				line = line.replace(/image_id/g, id);
    			line = line.replace(/en-default/g, path);
	    		line = line.replace(/image_path/g, path);
				line = line.replace(/image_position/g, position);
				line = line.replace(/blank/g, cover);
				line = line.replace("<tbody>", "");
				line = line.replace("</tbody>", "");
				if (shops != false)
				{
					$.each(shops, function(key, value){
						if (value == 1)
							line = line.replace('id="' + key + '' + id + '"','id="' + key + '' + id + '" checked=checked');
					});
				}
				$("#imageList").append(line);
			}

			function refreshImagePositions(imageTable)
			{
				var reg = /_[0-9]$/g;
				var up_reg  = new RegExp("imgPosition=[0-9]+&");

				imageTable.find("tbody tr").each(function(i,el) {
					$(el).find("td.positionImage").html(i + 1);
				});
				imageTable.find("tr td.dragHandle a:hidden").show();
				imageTable.find("tr td.dragHandle:first a:first").hide();
				imageTable.find("tr td.dragHandle:last a:last").hide();
			}

		});
		{/literal}
	</script>

