{*
*}


<link href="{$base_dir_ssl}js/jquery/ui/themes/base/jquery.ui.theme.css" rel="stylesheet" type="text/css" media="all" />
<link href="{$base_dir_ssl}js/jquery/ui/themes/base/jquery.ui.slider.css" rel="stylesheet" type="text/css" media="all" />
<link href="{$base_dir_ssl}js/jquery/ui/themes/base/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" media="all" />
<link href="{$base_dir_ssl}js/jquery/plugins/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="{$base_dir_ssl}js/admin.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/price.js"></script>   
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/plugins/jquery.typewatch.js"></script>   
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/jquery.ui.mouse.min.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/jquery.ui.slider.min.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/jquery.ui.datepicker.min.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/ui/i18n/jquery.ui.datepicker-{$iso_code}.js"></script>
<script type="text/javascript" src="{$base_dir_ssl}js/jquery/plugins/timepicker/jquery-ui-timepicker-addon.js"></script>   
<script type="text/javascript" src="{$base_dir_ssl}modules/agilemultipleseller/js/front-products.js"></script>   


<script type="text/javascript" src="{$base_dir_ssl}js/jquery/plugins/ajaxfileupload/jquery.ajaxfileupload.js"></script>
<link href="{$base_dir_ssl}js/jquery/plugins/ajaxfileupload/jquery.ajaxfileupload.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript">
	var newLabel = '{l s='New label' mod='agilemultipleseller'}';
	var choose_language = '{l s='Choose language:' mod='agilemultipleseller'}';
	var required = '{l s='required' mod='agilemultipleseller'}';
	var customizationUploadableFileNumber = '{$product->uploadable_files}';
	var customizationTextFieldNumber = '{$product->text_fields}';
	var uploadableFileLabel = 0;
	var textFieldLabel = 0;
	var cache_default_attribute =  {$product->cache_default_attribute};
	var base_dir_ssl = "{$base_dir_ssl}";

	$(document).ready(function () {
		show_hide_error();

		$('.datepicker').datepicker({
			prevText: '',
			nextText: '',
			dateFormat: 'yy-mm-dd'
		});

	});

	function uploadFile()
	{
		$.ajaxFileUpload (
			{
				url: base_dir_ssl + 'uploadProductFile.php',
				secureuri:false,
				fileElementId:'virtual_product_file',
				dataType: 'xml',
				success: function (data, status)
				{
					data = data.getElementsByTagName('return')[0];
					var result = data.getAttribute("result");
					var msg = data.getAttribute("msg");
					var fileName = data.getAttribute("filename");
					if (result == "error")
					{
						$("#upload-confirmation").hide();
						$("#upload-error td").html('<div class="error">{l s='Error:' mod='agilemultipleseller'} ' + msg + '</div>');
						$("#upload-error").show();
					}
					else
					{
						$('#upload-error').hide();
						$('#file_missing').hide();
						$('#upload_input').hide();
						$('#virtual_product_name').attr('value', fileName);
						$("#upload-confirmation .error").remove();
						$('#upload-confirmation div').prepend('<span>{l s='The file' mod='agilemultipleseller'}&nbsp;"<a class="link" href="{$base_dir_ssl}index.php?controller=get-file&file='+msg+'&filename='+fileName+'">'+fileName+'</a>"&nbsp;{l s='has successfully been uploaded' mod='agilemultipleseller'}' +
							'<input type="hidden" id="virtual_product_filename" name="virtual_product_filename" value="' + msg + '" /></span>');
						$("#upload-confirmation").show();
					}
				}
			}
		);
	}

	function uploadFile2()
	{
			var link = '';
			$.ajaxFileUpload (
			{
				url:  base_dir_ssl +  'uploadProductFileAttribute.php',
				secureuri:false,
				fileElementId:'virtual_product_file_attribute',
				dataType: 'xml',
				success: function (data, status)
				{
					data = data.getElementsByTagName('return')[0];
					var result = data.getAttribute("result");
					var msg = data.getAttribute("msg");
					var fileName = data.getAttribute("filename");
					if(result == "error")
						$("#upload-confirmation2").html('<p>error: ' + msg + '</p>');
					else
					{
						$('#virtual_product_file_attribute').remove();
						$('#virtual_product_file_label').hide();
						$('#file_missing').hide();
						$('#delete_downloadable_product_attribute').show();
						$('#upload-confirmation2').html(
							'<a class="link" href="{$base_dir_ssl}index.php?controller=get-file&file='+msg+'&filename='+fileName+'">{l s='The file' mod='agilemultipleseller'}&nbsp;"' + fileName + '"&nbsp;{l s='has successfully been uploaded' mod='agilemultipleseller'}</a>' +
							'<input type="hidden" id="virtual_product_filename_attribute" name="virtual_product_filename_attribute" value="' + msg + '" />');
						$('#virtual_product_name_attribute').attr('value', fileName);

						link = $("#delete_downloadable_product_attribute").attr('href');
						$("#delete_downloadable_product_attribute").attr('href', link+"&file="+msg);
					}
				}
			}
		);
	}


	function ajax_delete_virtual_downloadfile()
	{
		var ans = confirm("{l s='Are you sure want to delete the file?' mod='agilemultipleseller'}");
		if(!ans)return false;

		$.ajax({
			url: base_dir_ssl + '/modules/agilemultipleseller/ajax_products.php',
			type: "POST",
			data: {
				action: 'deleteVirtualProduct',
				id_product: {$product->id}
			},
			dataType: 'json',
			async: false,
			success: function(data) {
				if (data.status == 'ok') {
					$('#file_missing').show();
					$('#upload_input').show();
					$("#upload-confirmation").hide();
					$("#tr_link_to_file").remove();
				}
				else
					alert(data.message);
			}
		});


		
		return false;
	}

	function is_virtual_goods_onchange()
	{
		if($("#is_virtual_good").is(":checked"))
		{
			$("#tr_downloadable").show();
			is_virtual_file_onclick();
		}
		else 
		{
			$("#tr_downloadable").hide();
			$("#virtual_good").hide();
		}
		show_hide_error();
	}


	function is_virtual_file_onclick()
	{
		if($("[name=is_virtual_file]:checked").val() == 1)
		{
			$("#virtual_good").show();
		}
		else 
		{
			$("#virtual_good").hide();
		}
		show_hide_error();
	}

	function show_hide_error()
	{
		if($("[name=is_virtual_file]:checked").val() == 1 && cache_default_attribute)
			$("#error_edit_file").show();
		else
			$("#error_edit_file").hide();
	}

</script>

<h4>{l s='Virtual Product (services, booking and downloadable products)' mod='agilemultipleseller'}</h4>
<div class="separation"></div>
<div>
	<table cellpadding="5" style="float: left; margin-left: 10px;">
		<tr>
			<td class="col-left" style="width:120px;">
				<label class="t">{l s='Product Type' mod='agilemultipleseller'}</label>
			</td>
			<td class="col-right">
				<input type="checkbox" id="is_virtual_good" onchange="is_virtual_goods_onchange()" name="is_virtual_good" value="true" {if $product->is_virtual && $product->productDownload->active}checked="checked"{/if} />&nbsp;&nbsp;
				<label for="is_virtual_good" class="t bold">{l s='This is a virtual product' mod='agilemultipleseller'}</label>
			</td>
		</tr>
		<tr><td>&nbsp;</td>
		<tr id="tr_downloadable" style="display:{if $product->is_virtual && $product->productDownload->active}{else}none{/if};"><td>
			<label>{l s='Downloadable?' mod='agilemultipleseller'}</label>
		</td><td>
			<label style="width:50px"><input type="radio" value="1" onclick="is_virtual_file_onclick()" name="is_virtual_file" {if $product_downloaded}checked="checked"{/if} />{l s='Yes' mod='agilemultipleseller'}</label>
			<label style="width:50px;"><input type="radio" value="0" onclick="is_virtual_file_onclick()" name="is_virtual_file" {if !$product_downloaded}checked="checked"{/if} />{l s='No' mod='agilemultipleseller'}</label>
		</td></tr>
		<tr><td>&nbsp;</td>
	</table>
	<br><br><br>

	{* [begin] virtual product *}
	<div id="virtual_good" {if !$product->productDownload->id OR !$product->is_virtual}style="display:none"{/if}> {*   {if !$product->productDownload->id || $product->productDownload->active}style="display:none"{/if} *}
		<div class="separation"></div>
		<div>
			<p class="alert" id="file_missing" style="color:red;{if empty($download_product_file_missing)}none;{/if}">
				{$download_product_file_missing}
			</p>
		</div>
		<div id="is_virtual_file_product" > {*    style="display:none;" *}
			{if !$download_dir_writable}
				<p class="alert">
					{l s='Your download repository is not writable.' mod='agilemultipleseller'}<br/>
					{$smarty.const._PS_DOWNLOAD_DIR_}
				</p>
			{/if}
			{* Don't display file form if the product has combinations *}
			{if empty($product->cache_default_attribute)}
				{if $product->productDownload->id}
					<input type="hidden" id="virtual_product_id" name="virtual_product_id" value="{$product->productDownload->id}" />
				{/if}
				<table cellpadding="5" style="float: left; margin-left: 10px;">
					<tr id="upload_input" {if $is_file}style="display:none"{/if}>
						<td class="col-left">
							<label id="virtual_product_file_label" for="virtual_product_file" class="t">{l s='Upload a file' mod='agilemultipleseller'}</label>
						</td>
						<td class="col-right">
							<input type="file" id="virtual_product_file" name="virtual_product_file" onchange="uploadFile();" maxlength="{$upload_max_filesize}" />
							<p class="preference_description">{l s='Your server\'s maximum upload file size is'}:&nbsp;{$upload_max_filesize} {l s='MB' mod='agilemultipleseller'}</p>
						</td>
					</tr>
					<tr id="upload-error" style="display:none">
						<td colspan=2></td>
					</tr>
					<tr id="upload-confirmation" style="display:none">
						<td colspan=2>
							{if $up_filename}
								<input type="hidden" id="virtual_product_filename" name="virtual_product_filename" value="{$up_filename}" />
							{/if}
							<div class="conf">
								<a class="delete_virtual_product" id="delete_downloadable_product" onclick="return ajax_delete_virtual_downloadfile();" href="" class="red">
									<img src="{$base_dir_ssl}img/admin/delete.gif" alt="{l s='Delete this file' mod='agilemultipleseller'}"/>
								</a>
							</div>
						</td>
					</tr>
					{if $is_file}
						<tr id="tr_link_to_file">
							<td class="col-left">
								<input type="hidden" id="virtual_product_filename" name="virtual_product_filename" value="{$product->productDownload->filename}" />
								<label class="t">{l s='Link to the file:' mod='agilemultipleseller'}</label>
							</td>
							 <td class="col-right">
								{$product->productDownload->getHtmlLinkFrontSeller(false, false)}
								<a onclick="return ajax_delete_virtual_downloadfile()" href="" class="red delete_virtual_product">
									<img src="{$base_dir_ssl}img/admin/delete.gif" alt="{l s='Delete this file' mod='agilemultipleseller'}"/>
								</a>
							</td>
						</tr>
					{/if}
					<tr>
						<td class="col-left"  style="width:120px;">
							<label for="virtual_product_name" class="t">{l s='Filename' mod='agilemultipleseller'}</label>
						</td>
						<td class="col-right">
							<input type="text" id="virtual_product_name" name="virtual_product_name" style="width:200px" value="{$product->productDownload->display_filename|escape:'htmlall':'UTF-8'}" />
							<p class="preference_description" name="help_box">{l s='The full filename with its extension (e.g. Book.pdf)' mod='agilemultipleseller'}</p>
						</td>
					</tr>
					<tr>
						<td class="col-left">
							<label for="virtual_product_nb_downloable" class="t">{l s='Allowed downloads' mod='agilemultipleseller'}</label>
						</td>
						<td class="col-right">
							<input type="text" id="virtual_product_nb_downloable" name="virtual_product_nb_downloable" value="{$product->productDownload->nb_downloadable|htmlentities}" class="" size="6" />
							<p class="preference_description">{l s='Number of allowed downloads per customer - (Set to 0 for unlimited downloads)' mod='agilemultipleseller'}</p>
						</td>
					</tr>
					<tr>
						<td class="col-left">
							<label for="virtual_product_expiration_date" class="t">{l s='Expiration date' mod='agilemultipleseller'}</label>
						</td>
						<td class="col-right">
							<input class="datepicker" type="text" id="virtual_product_expiration_date" name="virtual_product_expiration_date" value="{$product->productDownload->date_expiration}" size="11" maxlength="10" autocomplete="off" /> {l s='Format: YYYY-MM-DD' mod='agilemultipleseller'}
							<p class="preference_description">{l s='If set, the file will not be downloadable anymore after this date. Leave this blank for no expiration date' mod='agilemultipleseller'}</p>
						</td>
					</tr>
						<td class="col-left">
							<label for="virtual_product_nb_days" class="t">{l s='Number of days' mod='agilemultipleseller'}</label>
						</td>
						<td class="col-right">
							<input type="text" id="virtual_product_nb_days" name="virtual_product_nb_days" value="{$product->productDownload->nb_days_accessible|htmlentities}" class="" size="4" /><sup> *</sup>
							<p class="preference_description">{l s='How many days this file can be accessed by customers'} - <em>({l s='Set to zero for unlimited access' mod='agilemultipleseller'})</em></p>
						</td>
					</tr>
					{* Feature not implemented *}
					{*<tr>*}
						{*<td class="col-left">*}
							{*<label for="virtual_product_is_shareable" class="t">{l s='is shareable' mod='agilemultipleseller'}</label>*}
						{*</td>*}
						{*<td class="col-right">*}
							{*<input type="checkbox" id="virtual_product_is_shareable" name="virtual_product_is_shareable" value="1" {if $product->productDownload->is_shareable}checked="checked"{/if} />*}
							{*<span class="hint" name="help_box" style="display:none">{l s='Specify if the file can be shared' mod='agilemultipleseller'}</span>*}
						{*</td>*}
					{*</tr>*}
			</table>
			{/if}
		</div>
	</div>

	<div style="clear:both"></div>

    <p style="float:right;padding:20px;">
        <input type="submit" class="button" name="submitVirtualProduct" value="{l s='   Save   ' mod='agilemultipleseller'}" />
    </p>

	
	<div id="error_edit_file" style="display:{if empty($product->cache_default_attribute)}none{/if}">
		<div style="display: block;color:red;width: 90%;margin:10px;">{l s='You cannot edit your file here because you used combinations. Please edit it in the Combinations tab' mod='agilemultipleseller'}</div>
	</div>

</div>
