/* block CONTACT **************
***************************************************************** */

#contact fieldset{
	
	background-color: #ebf4d6 !important;
	
}

#contact h3{
	
	background: none !important;
	font-size:12px !important;
	color:#000000 !important;
	
}

.block1{
	
	border:	1px solid #006239;	
	margin-bottom:20px;
	height:273px;
	background-color:#82bc00;
	
	
}

#contact_block .block_content {
	
	padding:10px 0 15px 0;
	/*background: url(images/block_contact_bg.png) no-repeat left bottom transparent;*/
	
	/*background: url(images/mujer.png) no-repeat left bottom transparent;*/
	
}

#mujer{
	
	float:left;
	background: url(images/mujer.png) no-repeat;
	width:143px;
	height:158px;
	margin-left:20px;
	margin-top:-52px;
	
	
}

.title_block1{
	
	color:#525255;
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
	
	/*background:none repeat scroll 0 0 #00A2FF !Important;*/
	
}

#contact_block p {
	
	padding:0 5px;
	font-size: 13px;
	color:#ffffff;
	
	/*
	line-height: 18px;
	margin-bottom:20px;
	*/
}

#contact_block .title_block,   #contact_block h4 {
	
	padding:6px 11px;
	font-size: 12px;
	line-height: auto

}

#contact_block p.tel {

	margin:10px 0 41px 60px;
	padding-left: 26px;
	font: bold 11px/20px Arial, Verdana, sans-serif;
	background: url(images/block_contact_pict_tel1.png) no-repeat 0 0 transparent;
	background-position:0px 10px;
	
}

#contact_block a {

	/*
	display:block;
	margin-left:60px;
	padding:6px 8px;
	font:bold 10px Arial,Verdana,sans-serif;
	color:#999999;
	text-shadow:0 -1px 0 #000;
	text-transform:uppercase;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:url(images/bloc_contact_a_bg.png) repeat-x 0 0 #000;
	width:95px;
	*/

}

#contact_block a:hover {text-decoration:none}

#contact_block .label {display: none}
