<li class="referralprogram">
<a href="{$mysellerurl}" title="{l s='My Seller Account' mod='agilemultipleseller'}">
		<img src="{$base_dir_ssl}modules/agilemultipleseller/images/myselleraccount.gif" alt="{l s='My Seller Account' mod='agilemultipleseller'}" class="icon" /> 
		{l s='My Seller Account' mod='agilemultipleseller'}
</a>
</li>
