<div id="footerPrincipio">
</div>

<div id="footer2">
	
	<div id="contenidoFooter">
		{*$HOOK_FOOTER*}
		
		<div id="contenedorImagenFooter">
		
			<ul>
				
				<li><img id="logotipoFooter" class="logotipoFooterImg"></li>
				<li><h3>Dosa esta presente</h3></li>
				<li><h3>Siguenos en</h3></li>
			</ul>
			
		</div>
		
		<ul id="ayuda">
			<li><a href="{$base_dir}index.php?controller=dosa">Quienes Somos</a></li>
			<li><a href="{$base_dir}index.php?controller=contact">Contacta con nosotros</a></li>
		</ul>
	
		
	
		<ul id="comunidades1">
			
			
			<li>Andaluc&iacute;a</li>
			<li>Arag&oacute;n</li>
			<li>Cantabria</li>
			<li>Pais Basco</li>
			<li>Castilla y Le&oacute;n</li>
			<li>Castilla-La Mancha</li>
			<li>Catalu&ntildea</li>
			<li>Ceuta (Ciudad Aut&oacute;noma)</li>
			<li>Comunidad de Madrid</li>
			<li>Comunidad Valenciana</li>
			
				
		</ul>
		
		<ul id="comunidades2">
			<li>Extremadura</li>
			<li>Galicia</li>
			<li>Illes Balears</li>
			<li>Islas Canarias</li>
			<li>La Rioja</li>
			<li>Melilla (Ciudad Aut&oacute;noma)</li>
			<li>Navarra</li>
			<li>Pa&iacute;s Vasco</li>	
			<li>Principado de Asturias</li>	
			<li>Regi&oacute;n de Murcia</li>		
				
		</ul>
		
		
		
		<ul id="siguenos">
			
			<li><img src="{$base_dir}img/facebook.jpg"><a href="#">Facebook</a></li>
			
			<!--
			<li><img src="{$base_dir}img/googleplus.jpg"><a href="#">Google +</a></li>	
			<li><img src="{$base_dir}img/linkedin.jpg"><a href="#">Linkedin</a></li>
			-->
			
		</ul>
		
		<ul id="siguenos1">
			
			<li><img src="{$base_dir}img/twitter.jpg"><a href="#">Twitter</a></li>
			
			<!--
			<li><img src="{$base_dir}img/youtube.jpg"><a href="#">Youtube</a></li>	
			<li><img src="{$base_dir}img/blog.jpg"><a href="#">Blog</a></li>
			-->
			
		</ul>
	
	</div>
	
	
	<div id="footerFinal2">
		
	</div>
		
		
	</div>
	
	
</div>